<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="aluguelAutomoveisApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cliente.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cliente.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.cliente.cpf" for="field_cpf">Cpf</label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                        [(ngModel)]="cliente.cpf" required/>
                    <div [hidden]="!(editForm.controls.cpf?.dirty && editForm.controls.cpf?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cpf?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.cliente.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="cliente.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.cliente.data_nascimento" for="field_data_nascimento">Data Nascimento</label>
                    <div class="input-group">
                        <input id="field_data_nascimento" type="text" class="form-control" name="data_nascimento" ngbDatepicker  #data_nascimentoDp="ngbDatepicker" [(ngModel)]="cliente.data_nascimento"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="data_nascimentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.data_nascimento?.dirty && editForm.controls.data_nascimento?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.data_nascimento?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.cliente.cnh" for="field_cnh">Cnh</label>
                    <input type="text" class="form-control" name="cnh" id="field_cnh"
                        [(ngModel)]="cliente.cnh" required/>
                    <div [hidden]="!(editForm.controls.cnh?.dirty && editForm.controls.cnh?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cnh?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
