<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="aluguelAutomoveisApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aluguelAutomoveisApp.cliente.cpf">Cpf</span></dt>
                <dd>
                    <span>{{cliente.cpf}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.cliente.nome">Nome</span></dt>
                <dd>
                    <span>{{cliente.nome}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.cliente.data_nascimento">Data Nascimento</span></dt>
                <dd>
                    <span>{{cliente.data_nascimento}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.cliente.cnh">Cnh</span></dt>
                <dd>
                    <span>{{cliente.cnh}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
