<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aluguel">
            <h2><span jhiTranslate="aluguelAutomoveisApp.aluguel.detail.title">Aluguel</span> {{aluguel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aluguelAutomoveisApp.aluguel.data_ini_aluguel">Data Ini Aluguel</span></dt>
                <dd>
                    <span>{{aluguel.data_ini_aluguel}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.aluguel.data_prev_devolucao">Data Prev Devolucao</span></dt>
                <dd>
                    <span>{{aluguel.data_prev_devolucao}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.aluguel.data_real_devolucao">Data Real Devolucao</span></dt>
                <dd>
                    <span>{{aluguel.data_real_devolucao}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.aluguel.quantidade_dias">Quantidade Dias</span></dt>
                <dd>
                    <span>{{aluguel.quantidade_dias}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.aluguel.valor_aluguel">Valor Aluguel</span></dt>
                <dd>
                    <span>{{aluguel.valor_aluguel}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.aluguel.cliente_id">Cliente Id</span></dt>
                <dd>
                    <div *ngIf="aluguel.cliente_idId">
                        <a [routerLink]="['/cliente', aluguel.cliente_idId, 'view']">{{aluguel.cliente_idCliente_id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.aluguel.veiculo_id">Veiculo Id</span></dt>
                <dd>
                    <div *ngIf="aluguel.veiculo_idId">
                        <a [routerLink]="['/veiculo', aluguel.veiculo_idId, 'view']">{{aluguel.veiculo_idVeiculo_id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.aluguel.reserva_id">Reserva Id</span></dt>
                <dd>
                    <div *ngIf="aluguel.reserva_idId">
                        <a [routerLink]="['/reserva', aluguel.reserva_idId, 'view']">{{aluguel.reserva_idReserva_id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aluguel', aluguel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
