<div>
    <h2 id="page-heading">
        <span jhiTranslate="aluguelAutomoveisApp.aluguel.home.title">Aluguels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aluguel" [routerLink]="['/aluguel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="aluguelAutomoveisApp.aluguel.home.createLabel">
            Create new Aluguel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="aluguels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.aluguel.data_ini_aluguel">Data Ini Aluguel</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.aluguel.data_prev_devolucao">Data Prev Devolucao</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.aluguel.data_real_devolucao">Data Real Devolucao</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.aluguel.quantidade_dias">Quantidade Dias</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.aluguel.valor_aluguel">Valor Aluguel</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.aluguel.cliente_id">Cliente Id</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.aluguel.veiculo_id">Veiculo Id</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.aluguel.reserva_id">Reserva Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aluguel of aluguels ;trackBy: trackId">
                <td><a [routerLink]="['/aluguel', aluguel.id, 'view' ]">{{aluguel.id}}</a></td>
                <td>{{aluguel.data_ini_aluguel | date:'mediumDate'}}</td>
                <td>{{aluguel.data_prev_devolucao | date:'mediumDate'}}</td>
                <td>{{aluguel.data_real_devolucao | date:'mediumDate'}}</td>
                <td>{{aluguel.quantidade_dias}}</td>
                <td>{{aluguel.valor_aluguel}}</td>
                <td>
                    <div *ngIf="aluguel.cliente_idId">
                        <a [routerLink]="['../cliente', aluguel.cliente_idId , 'view' ]" >{{aluguel.cliente_idCliente_id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="aluguel.veiculo_idId">
                        <a [routerLink]="['../veiculo', aluguel.veiculo_idId , 'view' ]" >{{aluguel.veiculo_idVeiculo_id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="aluguel.reserva_idId">
                        <a [routerLink]="['../reserva', aluguel.reserva_idId , 'view' ]" >{{aluguel.reserva_idReserva_id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/aluguel', aluguel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/aluguel', aluguel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aluguel/'+ aluguel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
