<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-aluguel-heading" jhiTranslate="aluguelAutomoveisApp.aluguel.home.createOrEditLabel">Create or edit a Aluguel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!aluguel.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="aluguel.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.aluguel.data_ini_aluguel" for="field_data_ini_aluguel">Data Ini Aluguel</label>
                    <div class="input-group">
                        <input id="field_data_ini_aluguel" type="text" class="form-control" name="data_ini_aluguel" ngbDatepicker  #data_ini_aluguelDp="ngbDatepicker" [(ngModel)]="aluguel.data_ini_aluguel"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="data_ini_aluguelDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.data_ini_aluguel?.dirty && editForm.controls.data_ini_aluguel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.data_ini_aluguel?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.aluguel.data_prev_devolucao" for="field_data_prev_devolucao">Data Prev Devolucao</label>
                    <div class="input-group">
                        <input id="field_data_prev_devolucao" type="text" class="form-control" name="data_prev_devolucao" ngbDatepicker  #data_prev_devolucaoDp="ngbDatepicker" [(ngModel)]="aluguel.data_prev_devolucao"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="data_prev_devolucaoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.data_prev_devolucao?.dirty && editForm.controls.data_prev_devolucao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.data_prev_devolucao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.aluguel.data_real_devolucao" for="field_data_real_devolucao">Data Real Devolucao</label>
                    <div class="input-group">
                        <input id="field_data_real_devolucao" type="text" class="form-control" name="data_real_devolucao" ngbDatepicker  #data_real_devolucaoDp="ngbDatepicker" [(ngModel)]="aluguel.data_real_devolucao"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="data_real_devolucaoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.aluguel.quantidade_dias" for="field_quantidade_dias">Quantidade Dias</label>
                    <input type="number" class="form-control" name="quantidade_dias" id="field_quantidade_dias"
                        [(ngModel)]="aluguel.quantidade_dias" required min="1" jhiMin="1"/>
                    <div [hidden]="!(editForm.controls.quantidade_dias?.dirty && editForm.controls.quantidade_dias?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantidade_dias?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantidade_dias?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantidade_dias?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.aluguel.valor_aluguel" for="field_valor_aluguel">Valor Aluguel</label>
                    <input type="number" class="form-control" name="valor_aluguel" id="field_valor_aluguel"
                        [(ngModel)]="aluguel.valor_aluguel" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.aluguel.cliente_id" for="field_cliente_id">Cliente Id</label>
                    <select class="form-control" id="field_cliente_id" name="cliente_id" [(ngModel)]="aluguel.cliente_idId" required>
                        <option *ngIf="!editForm.value.cliente_id" [ngValue]="null" selected></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of cliente_ids; trackBy: trackClienteById">{{clienteOption.cliente_id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.cliente_id?.dirty && editForm.controls.cliente_id?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cliente_id?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.aluguel.veiculo_id" for="field_veiculo_id">Veiculo Id</label>
                    <select class="form-control" id="field_veiculo_id" name="veiculo_id" [(ngModel)]="aluguel.veiculo_idId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="veiculoOption.id" *ngFor="let veiculoOption of veiculo_ids; trackBy: trackVeiculoById">{{veiculoOption.veiculo_id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.aluguel.reserva_id" for="field_reserva_id">Reserva Id</label>
                    <select class="form-control" id="field_reserva_id" name="reserva_id" [(ngModel)]="aluguel.reserva_idId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="reservaOption.id" *ngFor="let reservaOption of reserva_ids; trackBy: trackReservaById">{{reservaOption.reserva_id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
