<div>
    <h2 id="page-heading">
        <span jhiTranslate="aluguelAutomoveisApp.reserva.home.title">Reservas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reserva" [routerLink]="['/reserva/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="aluguelAutomoveisApp.reserva.home.createLabel">
            Create new Reserva
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reservas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.reserva.data_ini_reserva">Data Ini Reserva</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.reserva.data_fim_reserva">Data Fim Reserva</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.reserva.status">Status</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.reserva.cliente_id">Cliente Id</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.reserva.veiculo_id">Veiculo Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reserva of reservas ;trackBy: trackId">
                <td><a [routerLink]="['/reserva', reserva.id, 'view' ]">{{reserva.id}}</a></td>
                <td>{{reserva.data_ini_reserva | date:'mediumDate'}}</td>
                <td>{{reserva.data_fim_reserva | date:'mediumDate'}}</td>
                <td>{{reserva.status}}</td>
                <td>
                    <div *ngIf="reserva.cliente_idId">
                        <a [routerLink]="['../cliente', reserva.cliente_idId , 'view' ]" >{{reserva.cliente_idCliente_id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reserva.veiculo_idId">
                        <a [routerLink]="['../veiculo', reserva.veiculo_idId , 'view' ]" >{{reserva.veiculo_idVeiculo_id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reserva', reserva.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reserva', reserva.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reserva/'+ reserva.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
