<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reserva-heading" jhiTranslate="aluguelAutomoveisApp.reserva.home.createOrEditLabel">Create or edit a Reserva</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reserva.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reserva.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.reserva.data_ini_reserva" for="field_data_ini_reserva">Data Ini Reserva</label>
                    <div class="input-group">
                        <input id="field_data_ini_reserva" type="text" class="form-control" name="data_ini_reserva" ngbDatepicker  #data_ini_reservaDp="ngbDatepicker" [(ngModel)]="reserva.data_ini_reserva"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="data_ini_reservaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.data_ini_reserva?.dirty && editForm.controls.data_ini_reserva?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.data_ini_reserva?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.reserva.data_fim_reserva" for="field_data_fim_reserva">Data Fim Reserva</label>
                    <div class="input-group">
                        <input id="field_data_fim_reserva" type="text" class="form-control" name="data_fim_reserva" ngbDatepicker  #data_fim_reservaDp="ngbDatepicker" [(ngModel)]="reserva.data_fim_reserva"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="data_fim_reservaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.data_fim_reserva?.dirty && editForm.controls.data_fim_reserva?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.data_fim_reserva?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.reserva.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="reserva.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.reserva.cliente_id" for="field_cliente_id">Cliente Id</label>
                    <select class="form-control" id="field_cliente_id" name="cliente_id" [(ngModel)]="reserva.cliente_id" required>
                        <option *ngIf="!editForm.value.cliente_id" [ngValue]="null" selected></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of cliente_ids; trackBy: trackClienteById">{{clienteOption.nome}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.cliente_id?.dirty && editForm.controls.cliente_id?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cliente_id?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.reserva.veiculo_id" for="field_veiculo_id">Veiculo Id</label>
                    <select class="form-control" id="field_veiculo_id" name="veiculo_id" [(ngModel)]="reserva.veiculo_id" required>
                        <option *ngIf="!editForm.value.veiculo_id" [ngValue]="null" selected></option>
                        <option [ngValue]="veiculoOption.id" *ngFor="let veiculoOption of veiculo_ids; trackBy: trackVeiculoById">{{veiculoOption.modelo}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.veiculo_id?.dirty && editForm.controls.veiculo_id?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.veiculo_id?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
