<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reserva">
            <h2><span jhiTranslate="aluguelAutomoveisApp.reserva.detail.title">Reserva</span> {{reserva.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aluguelAutomoveisApp.reserva.data_ini_reserva">Data Ini Reserva</span></dt>
                <dd>
                    <span>{{reserva.data_ini_reserva}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.reserva.data_fim_reserva">Data Fim Reserva</span></dt>
                <dd>
                    <span>{{reserva.data_fim_reserva}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.reserva.status">Status</span></dt>
                <dd>
                    <span>{{reserva.status}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.reserva.cliente_id">Cliente Id</span></dt>
                <dd>
                    <div *ngIf="reserva.cliente_idId">
                        <a [routerLink]="['/cliente', reserva.cliente_idId, 'view']">{{reserva.cliente_idCliente_id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.reserva.veiculo_id">Veiculo Id</span></dt>
                <dd>
                    <div *ngIf="reserva.veiculo_idId">
                        <a [routerLink]="['/veiculo', reserva.veiculo_idId, 'view']">{{reserva.veiculo_idVeiculo_id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reserva', reserva.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
