<div>
    <h2 id="page-heading">
        <span jhiTranslate="aluguelAutomoveisApp.veiculo.home.title">Veiculos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-veiculo" [routerLink]="['/veiculo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="aluguelAutomoveisApp.veiculo.home.createLabel">
            Create new Veiculo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="veiculos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.veiculo.marca">Marca</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.veiculo.modelo">Modelo</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.veiculo.ano">Ano</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.veiculo.categoria">Categoria</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.veiculo.valor_diaria">Valor Diaria</span></th>
            <th><span jhiTranslate="aluguelAutomoveisApp.veiculo.quantidade">Quantidade</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let veiculo of veiculos ;trackBy: trackId">
                <td><a [routerLink]="['/veiculo', veiculo.id, 'view' ]">{{veiculo.id}}</a></td>
                <td>{{veiculo.marca}}</td>
                <td>{{veiculo.modelo}}</td>
                <td>{{veiculo.ano}}</td>
                <td>{{veiculo.categoria}}</td>
                <td>{{veiculo.valor_diaria}}</td>
                <td>{{veiculo.quantidade}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/veiculo', veiculo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/veiculo', veiculo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'veiculo/'+ veiculo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
