<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-veiculo-heading" jhiTranslate="aluguelAutomoveisApp.veiculo.home.createOrEditLabel">Create or edit a Veiculo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!veiculo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="veiculo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.veiculo.marca" for="field_marca">Marca</label>
                    <input type="text" class="form-control" name="marca" id="field_marca"
                        [(ngModel)]="veiculo.marca" required/>
                    <div [hidden]="!(editForm.controls.marca?.dirty && editForm.controls.marca?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.marca?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.veiculo.modelo" for="field_modelo">Modelo</label>
                    <input type="text" class="form-control" name="modelo" id="field_modelo"
                        [(ngModel)]="veiculo.modelo" required/>
                    <div [hidden]="!(editForm.controls.modelo?.dirty && editForm.controls.modelo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modelo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.veiculo.ano" for="field_ano">Ano</label>
                    <input type="text" class="form-control" name="ano" id="field_ano"
                        [(ngModel)]="veiculo.ano" required/>
                    <div [hidden]="!(editForm.controls.ano?.dirty && editForm.controls.ano?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ano?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.veiculo.categoria" for="field_categoria">Categoria</label>
                    <input type="text" class="form-control" name="categoria" id="field_categoria"
                        [(ngModel)]="veiculo.categoria" required/>
                    <div [hidden]="!(editForm.controls.categoria?.dirty && editForm.controls.categoria?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.categoria?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.veiculo.valor_diaria" for="field_valor_diaria">Valor Diaria</label>
                    <input type="number" class="form-control" name="valor_diaria" id="field_valor_diaria"
                        [(ngModel)]="veiculo.valor_diaria" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aluguelAutomoveisApp.veiculo.quantidade" for="field_quantidade">Quantidade</label>
                    <input type="number" class="form-control" name="quantidade" id="field_quantidade"
                        [(ngModel)]="veiculo.quantidade" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
