<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="veiculo">
            <h2><span jhiTranslate="aluguelAutomoveisApp.veiculo.detail.title">Veiculo</span> {{veiculo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aluguelAutomoveisApp.veiculo.marca">Marca</span></dt>
                <dd>
                    <span>{{veiculo.marca}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.veiculo.modelo">Modelo</span></dt>
                <dd>
                    <span>{{veiculo.modelo}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.veiculo.ano">Ano</span></dt>
                <dd>
                    <span>{{veiculo.ano}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.veiculo.categoria">Categoria</span></dt>
                <dd>
                    <span>{{veiculo.categoria}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.veiculo.valor_diaria">Valor Diaria</span></dt>
                <dd>
                    <span>{{veiculo.valor_diaria}}</span>
                </dd>
                <dt><span jhiTranslate="aluguelAutomoveisApp.veiculo.quantidade">Quantidade</span></dt>
                <dd>
                    <span>{{veiculo.quantidade}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/veiculo', veiculo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
